<app-header></app-header>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center w-100">About Us</h1>
      
    </div>
  </div>
<div id="featured" class="container">
    <div class="row mt-5">
      <p>
          Crowd Flow allows users to create their campaign page with which they raise money only for genuine cause. All raised funds are transferred to the beneficiary within the promised time, after the deduction of Crowd Flow’s commission/fees. Majority of campaigns are run to raise money for medical bills or education fees. In both cases, the due diligence is done with the respective hospital/education institution to verify the claim and money is transferred directly to the hospital or education institution. In certain cases, a part of the raised funds is transferred to the individual also to cover post-treatment costs or other costs around education.
      </p>
    </div>
    <div class="row mt-5">
        <h1 class="text-center w-100">Founders and Co-Founders</h1>
      </div>
    <div class="row mt-3 mb-3">
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img_avatar (1).png" alt="Card image">
          <div class="card-body">
            <h5 class="card-title text-center">Varun Sheth</h5>
            <h6 class="card-title text-center">CEO & Founder</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img_avatar (1).png" alt="Card image">
          <div class="card-body">
            <h5 class="card-title text-center">Kunal Kapoor</h5>
            <h6 class="card-title text-center">Co-Founder</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img_avatar (1).png" alt="Card image">
          <div class="card-body">
              <h5 class="card-title text-center">Zahir Adenwala</h5>
              <h6 class="card-title text-center">CTO & Co-Founder</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img_avatar (1).png" alt="Card image">
          <div class="card-body">
              <h5 class="card-title text-center">Vivek Shakya</h5>
              <h6 class="card-title text-center">CTO & Co-Founder</h6>
          </div>
        </div>
      </div>

    </div>
</div>
